.project-card {
  box-shadow: -5px 11px 7px rgb(0,0,0);
  // border-radius: 16px;
  max-width: 360px;
}


.project-container {
  overflow: unset;
  width: 75%;
}

.project-content {
  overflow: unset;
  width: 40%;
}

.project-media {
background-color: transparent;
width: 40%;
}

article img {
  max-height: 400px;
  max-width: 400px;
}

.no-flow {
  overflow: unset;
}

.mat-tab-body-content {
  overflow: unset;
}

header {
  height: 100px;
}

h1 {
  text-align: center;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
}

section {

  display: flex;
}
