<div *ngIf="!project">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="project">





  <section>

    <h1>{{ project.name }}</h1>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="space-around start" fxLayout.xs="column" class="project-divider">

        <mat-card class="project-card">

          <img mat-card-image ngClass="{'portrait-img': project.isPortrait}" [src]='project.cover' alt="Project title image">
          <mat-card-content>
            <p>
              {{project.description}}
            </p>
          </mat-card-content>

        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title>Tech Stack</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h5 *ngFor="let tech of techs">{{tech}}</h5>
          </mat-card-content>
        </mat-card>

    </div>
   <!--  <mat-grid-list cols="4" rowHeight="150px">
      <mat-grid-tile [colspan]="3">
        <article>

          <p>{{ project.description }}</p>

        </article>
      </mat-grid-tile>
    <mat-grid-tile [rowspan]="3">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <article>

        <img [src]='project.cover' />

      </article>
    </mat-grid-tile>
    </mat-grid-list>


 -->


  </section>
<!--   <div class="project-container">
    <div class="project-header">
      <h1>{{ project.name }}</h1>
    </div>
    <mat-divider></mat-divider>

    <mat-tab-group
      headerPosition="below"
      class="mat-elevation-z4 project-container">
      <mat-tab label="Overview">

            <div class="project-content">
              <div class="project-description">
                <p>
                  {{ project.description }}
                </p>
              </div>
              <div class="project-media">
                <img src="{{ project.cover }}" />
              </div>
            </div>


      </mat-tab>

      <mat-tab label="Tech Stack"> </mat-tab>
      <mat-tab label="Contribution"> </mat-tab>
    </mat-tab-group>
  </div> -->
</div>
